{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if title %} {{ title }} {% else %} SocialApp {% endif %}</title>
    {% include 'users/head/css.html' %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  </head>
  <body>
    {% include 'users/components/navbar.html' %}

    {% block body %} {% endblock %}

    <script>

      window.CSRF_TOKEN = "{{ csrf_token }}";

      $(document).on('click', '.like_btn', function() {
        var postId = this.id.replace('post_', '');
        var $path = $(this).find('path');

        $.ajax({
          method: "POST",
          url: '/post/like',
          data: {
            post_id: postId,
            csrfmiddlewaretoken: window.CSRF_TOKEN
          },
            success: function (response) {
              if (response['status']) {
                $path.attr({
                  fill: 'red',
                  stroke: 'none'
                });
              } else {
                $path.attr({
                  fill: 'none',
                  stroke: 'black'
                });
              }

              $(`#post_${postId}_count`).text(response['count']);
          },
          error: function(error) {
            console.error('There was a problem with the AJAX request:', error);
          }
        }
        )
      })
    </script>
  </body>
</html>
