{% extends 'users/base.html' %}

{% block body %}

<div class="relative min-h-screen flex items-center justify-center bg-gray-100 py-12 px-4 sm:px-6 lg:px-8  bg-no-repeat bg-cover relative items-center">
  <div class="max-w-md w-full space-y-8 p-10 bg-white rounded-xl z-10">
    {% if password_reset_success %}
    <div class="text-center">
			<h2 class="mt-6 mb-6 text-2xl font-bold text-gray-900">
				Password Reset Complete!
			</h2>

			<a href="{% url 'login' %}" class="w-full py-3 font-medium text-white bg-gray-800 hover:bg-gray-500 rounded-lg border-indigo-500 hover:shadow inline-flex space-x-2 items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1121.75 8.25z" />
        </svg>
          <span>Click to login</span>
    </a>
    {% else %}
    {% if validlink %}
		<div class="text-center">
			<h2 class="mt-6 text-3xl font-bold text-gray-900">
        Password Reset!
			</h2>

			<p class="mt-2 text-sm text-gray-600">Enter new password below</p>

		</div>
			<form class="mt-0 space-y-6" method="POST">
				{% csrf_token %}
				<input type="hidden" name="remember" value="true">
				<div class="content-center">

					<label for="new_password1" class="text-sm font-bold text-gray-700 tracking-wide">New Password</label>
					<input class=" w-full text-base py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500" type="password" name="new_password1" id="id_new_password1" placeholder="Enter your new password">
				</div>
			<div class="content-center">
				<label for="new_password2" class="text-sm font-bold text-gray-700 tracking-wide">
					Confirm Password
				</label>
				<input class="w-full content-center text-base py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500" type="password" name="new_password2" id="id_new_password2" placeholder="Enter password again">
            </div>

				<button type="submit" class="w-full flex justify-center bg-gray-800 text-gray-100 p-4  rounded-full tracking-wide
                                font-semibold  focus:outline-none focus:shadow-outline hover:bg-gray-950 shadow-lg cursor-pointer transition ease-in duration-300">
                    Reset Password
                </button>
			</div>

		</form>
    {% else %}
    <div class="text-center">
      <h1 class="mt-6 text-3xl font-bold text-gray-900">
        Password reset link is invalid!
      </h1>
    </div>
    {% endif %}
	</div>
</div>
{% endif %}
{% endblock %}